.gameTitle {
  font-family: 'Orbitron', sans-serif;
  font-size: 3rem;
  font-weight: 900;
  letter-spacing: 0.1em;
  color: #fff;
  text-transform: uppercase;
  text-shadow: 0 0 10px rgba(76, 0, 255, 0.5), 0 0 20px rgba(255, 7, 106, 0.677);
  margin: 0;
  animation: textGlow 3s ease-in-out infinite alternate;
}
