.gameTitle {
  position: absolute;
  top: 2%;
  left: 50%;
  transform: translateX(-50%);
  font-family: 'Orbitron', sans-serif;
  font-size: 3rem;
  font-weight: 900;
  letter-spacing: 0.1em;
  color: #fff;
  text-transform: uppercase;
  margin: 0;
}

.healthContainer {
  display: flex;
  justify-content: left;
  position: absolute;
  top: 1%;
  left: 1%;
  gap: 1rem;
}

.heart {
  width: 5rem;
  height: 5rem;
  color: red;
}

.scoreContainer {
  position: absolute;
  top: 1%;
  right: 1%;
}

.scoreText {
  font-size: 1.2rem;
  font-family: 'Orbitron', sans-serif;
  letter-spacing: 0.1em;
  color: #fff;
  text-transform: uppercase;
  margin: 0;
}
